$headerSmartPhoneHeight: 200px;
$headerTabletHeight: 110px;
$headerLogoWidth: 80px;
$headerLogoHeight: 80px;
$contentsMaxWidth: 720px;
$cTextLinkColor: #0089ff;
$cBlack: #222;

@mixin link-hover-color {
  &:hover {
    color: $cTextLinkColor;
  }
}

.header {
}

.header__contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: $headerSmartPhoneHeight;
  border-bottom: 1px solid gray;
  width: calc(100% - 24px);
  max-width: $contentsMaxWidth;
  margin: 0 auto;
}

.header__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header__sub {
  padding-top: 8px;

  & > a {
    color: $cTextLinkColor;
    text-decoration: none;
    @include link-hover-color();

    &:nth-child(1) {
      padding-right: 16px;
    }
  }
}

.header__image {
  width: $headerLogoWidth;
  height: $headerLogoHeight;
  margin-top: 20px;
  border-radius: 8px;
}

.header__title {
  font-size: 28px;
  font-weight: bold;
  padding-top: 8px;
  color: $cBlack;
  text-decoration: none;
  @include link-hover-color();
}

.header__sub-title {
  font-size: 20px;
  color: gray;
  padding-top: 4px;
}

@media (min-width: 641px) {
  .header__contents {
    height: $headerTabletHeight;
    flex-direction: row;
    justify-content: space-between;
  }

  .header__main {
    flex-direction: row;
    text-align: left;
  }

  .header__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12px;
  }

  .header__title {
    padding-top: 16px;
  }

  .header__sub {
    & > a {
      color: $cBlack;
    }
  }
}
